@import url("https://fonts.googleapis.com/css2?family=Muli:wght@200;400;700&display=swap");
.navbar {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 4%;
}

#logo {
  width: 150px;
}

nav a {
  margin-left: 12px;
}

.btn {
  margin: 0;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 17px;
  font-weight: 200;
  text-decoration: none;
  border: 2px solid #db202c;
}

.left {
  background-color: #db202c;
}

.right {
  background-color: black;
}

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  -webkit-transition-property: -webkit-box-shadow, -webkit-transform;
  transition-property: -webkit-box-shadow, -webkit-transform;
  transition-property: box-shadow, transform;
  transition-property: box-shadow, transform, -webkit-box-shadow, -webkit-transform;
}

.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
  outline: none;
  -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.hvr-grow-shadow:active {
  -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-duration: 0.05s;
          transition-duration: 0.05s;
}

.float-box {
  position: relative;
  display: block;
  margin: auto;
  margin-top: 60px;
  width: 400px;
  background-color: black;
  padding: 10px 20px;
  border-radius: 4px;
}

.float-box h2 {
  font-weight: 700;
  font-size: 32px;
}

.float-box form {
  width: 80%;
  margin: 30px auto;
}

.float-box input {
  color: black;
  display: block;
  font-size: 17px;
  width: 100%;
  height: 50px;
  border: 0px;
  border-radius: 5px;
  margin: 12px 0;
  outline: none;
  padding: 10px;
}

.float-box input[type="submit"] {
  background-color: #db202c;
  color: white;
}

.float-box a {
  text-decoration: none;
  color: #db202c;
}

.float-box a:hover {
  text-decoration: underline;
}

#search-list,
#list-element {
  padding-top: 20px;
}

#search-list {
  width: calc(100% - 450px);
}

.search {
  width: 50%;
  min-width: 250px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search input {
  width: 100%;
  border: 0px;
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
  font-size: 17px;
}

.search input:focus {
  color: black;
}

.search button {
  width: 40px;
  height: 40px;
  border: 0px;
  background: black;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  outline: none;
}

.search button:hover i {
  color: #c8c8c8;
}

#searchResults {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
  height: 75vh;
}

.searchResult {
  margin-top: 10px;
  width: 100%;
}

.searchResult .all-title-info {
  display: block;
}

.searchResult .image {
  width: 10vw;
}

.searchResult .right-of-img {
  width: 60%;
  margin: 5px 10px;
  display: inline-block;
  vertical-align: top;
  height: 100%;
}

.searchResult .title-info {
  height: 85%;
}

.searchResult .buttons {
  display: inline-block;
}

.searchResult .btn {
  font-size: 14px;
  border: 1px solid white;
  margin-right: 7px;
}

.searchResult .addBtn {
  background-color: black;
}

.searchResult .showBtn {
  background-color: #282828;
}

.seasons {
  margin-top: 10px;
}

.seasons select {
  background-color: #282828;
  font-size: 18px;
  outline: none;
  padding: 2px 4px;
  border-width: 2px;
}

.seasons .season {
  overflow-x: scroll;
  white-space: nowrap;
  width: 95%;
}

.seasons .hide-season {
  display: none;
}

.seasons .episode {
  vertical-align: top;
  display: inline-block;
  margin: 10px;
  margin-left: 0px;
  width: 16vw;
}

.seasons .episode .image {
  width: auto;
  height: 8vw;
}

.seasons .episode .image-error {
  text-align: center;
  vertical-align: middle;
  line-height: 6vw;
  background-color: #000045;
}

.seasons .episode .image-error p {
  font-size: 20px;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
}

.seasons .episode p {
  height: 12vh;
  white-space: normal;
  font-size: 13px;
  text-overflow: ellipsis;
  overflow: hidden;
}

#list-element {
  width: 450px;
  background-color: #141414;
  -webkit-box-shadow: -5px 0px 10px -5px #3a3a3a;
          box-shadow: -5px 0px 10px -5px #3a3a3a;
  padding-left: 20px;
}

#list-element .text-line {
  background-color: transparent;
  color: #eeeeee;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #eeeeee 1px;
  margin-bottom: 15px;
  width: 240px;
  font-size: 24px;
  font-weight: 700;
}

#list-element ul {
  list-style-type: none;
}

#list-titles {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
  height: 85vh;
}

#list-titles .show-els {
  width: 100%;
}

#list-titles .list-el {
  width: 90%;
  margin-bottom: 10px;
}

#list-titles .list-el .nums {
  font-size: 12px;
}

#list-titles .list-el .image {
  max-height: 100px;
  max-width: 100px;
}

#list-titles .list-el .title-info {
  display: inline-block;
  vertical-align: top;
  margin-left: 4px;
}

#left {
  width: calc(100% - 450px);
}

#lists {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
  height: 83vh;
  width: 100%;
  padding-right: 6%;
}

.list {
  text-align: left;
  padding: 20px;
  background-color: #000045;
  margin-top: 4px;
}

.list p {
  font-size: 20px;
  font-weight: 700;
}

#right {
  width: 450px;
  background-color: #141414;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Muli", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #282828;
}

#content {
  padding-left: 4%;
  height: calc(100% - 80px);
}

input[type="button"],
input[type="submit"] {
  cursor: pointer;
}

#split-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  height: 100%;
}
