@import url("https://fonts.googleapis.com/css2?family=Muli:wght@200;400;700&display=swap");
.navbar {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 4%;
}

#logo {
  width: 150px;
}

nav a {
  margin-left: 12px;
}

.btn {
  margin: 0;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 17px;
  font-weight: 200;
  text-decoration: none;
  border: 2px solid #db202c;
}

.left {
  background-color: #db202c;
}

.right {
  background-color: black;
}

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  -webkit-transition-property: -webkit-box-shadow, -webkit-transform;
  transition-property: -webkit-box-shadow, -webkit-transform;
  transition-property: box-shadow, transform;
  transition-property: box-shadow, transform, -webkit-box-shadow, -webkit-transform;
}

.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
  outline: none;
  -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.hvr-grow-shadow:active {
  -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-duration: 0.05s;
          transition-duration: 0.05s;
}

#intro {
  text-align: center;
  max-width: 40rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
}

#intro #netflist {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}

#intro #intro-text {
  font-size: 36px;
  text-align: center;
  font-weight: 400;
}

#intro #buttons {
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#intro #buttons .button {
  margin: 0;
  padding: 26px 46px;
  border-radius: 4px;
  font-size: 32px;
  font-weight: 700;
  text-decoration: none;
  border: none;
}

#intro #buttons .browse-btn {
  background-color: white;
  color: black;
}

#intro #buttons .create-btn {
  background-color: #646464;
}

#all-lists {
  margin-top: 120px;
  padding-left: 4%;
  padding-bottom: 60px;
  width: 100%;
  background-color: #3c3c3c;
}

#all-lists .title {
  padding-top: 20px;
  font-size: 30px;
  font-weight: 700;
}

.list-landing {
  width: 220px;
  position: relative;
  text-align: left;
  padding: 10px;
  background-color: #505050;
  margin-top: 4px;
}

.list-landing .delete-btn {
  position: absolute;
  top: -15px;
  left: -10px;
  z-index: 5;
  font-size: 25px;
  display: none;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.list-landing .delete-btn .fa-times-circle {
  color: #db202c;
}

.list-landing a {
  text-decoration: none;
}

.list-landing div.p {
  padding-top: 5px;
  font-size: 16px;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 13vw;
}

.list-landing .image-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: row;
}

.list-landing .image-preview .wrapper {
  background-color: gray;
  z-index: 2;
  height: 130px;
  border-radius: 0 5px 5px 0;
}

.list-landing .image-preview .first {
  z-index: 3;
}

.list-landing .image-preview .second {
  z-index: 2;
  opacity: 0.7;
  background: black;
}

.list-landing .image-preview .third {
  z-index: 1;
  opacity: 0.4;
}

.list-landing .image-preview .overlap {
  margin-left: -40px;
}

.list-landing .image-preview img {
  border-radius: 5px;
  height: 130px;
  border-right: 2px solid #3c3c3c;
}

.list-landing:hover {
  background-color: #141414;
}

.float-box {
  position: relative;
  display: block;
  margin: auto;
  margin-top: 60px;
  width: 400px;
  background-color: black;
  padding: 10px 20px;
  border-radius: 4px;
}

.float-box h2 {
  font-weight: 700;
  font-size: 32px;
}

.float-box form {
  width: 80%;
  margin: 30px auto;
}

.float-box input {
  color: black;
  display: block;
  font-size: 17px;
  width: 100%;
  height: 50px;
  border: 0px;
  border-radius: 5px;
  margin: 12px 0;
  outline: none;
  padding: 10px;
}

.float-box input[type="submit"] {
  background-color: #db202c;
  color: white;
}

.float-box a {
  text-decoration: none;
  color: #db202c;
}

.float-box a:hover {
  text-decoration: underline;
}

@font-face {
  font-family: "icomoon";
  src: url("/fonts/icomoon.eot?91cz27");
  src: url("/fonts/icomoon.eot?91cz27#iefix") format("embedded-opentype"), url("/fonts/icomoon.ttf?91cz27") format("truetype"), url("/fonts/icomoon.woff?91cz27") format("woff"), url("/fonts/icomoon.svg?91cz27#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron:before {
  content: "\e902";
}

.icon-chevron-thin:before {
  content: "\e901";
}

#left-search {
  width: calc(100% - 400px);
}

#search-element {
  padding-left: 4%;
  padding-top: 10px;
}

.search {
  padding-top: 10px;
  width: 50%;
  min-width: 250px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search input {
  width: 100%;
  border: 0px;
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
  font-size: 17px;
}

.search input:focus {
  color: black;
}

.search button {
  width: 40px;
  height: 40px;
  border: 0px;
  background: black;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  outline: none;
}

.search button:hover i {
  color: #c8c8c8;
}

#search-load {
  width: 6vw;
  height: 6vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 5px;
  border: 4px solid transparent;
  border-top-color: #db202c;
  border-bottom-color: #db202c;
  border-radius: 50%;
  -webkit-animation: rotation 0.8s ease infinite;
          animation: rotation 0.8s ease infinite;
  display: none;
}

#episode-load {
  width: 2vw;
  height: 2vw;
  position: absolute;
  left: 53.5%;
  bottom: 0.5vw;
  border: 2px solid transparent;
  border-top-color: #db202c;
  border-bottom-color: #db202c;
  border-radius: 50%;
  -webkit-animation: rotation 0.8s ease infinite;
          animation: rotation 0.8s ease infinite;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#searchResults {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
  height: calc(100vh - 200px);
  padding-left: 4%;
}

.searchResult {
  width: 100%;
}

.searchResult .add-button-flex {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.searchResult .buttons {
  display: inline-block;
}

.searchResult .btn {
  border: 1px solid white;
  background-color: #282828;
}

.searchResult .add-movie-btn {
  position: absolute;
  right: 30%;
  top: 40%;
  padding: 8px 14px;
}

.searchResult .show-episodes {
  position: absolute;
  left: 50%;
  bottom: 44px;
  text-align: center;
  height: 0;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.searchResult .show-episodes .icon-chevron-thin {
  display: block;
  font-size: 60px;
}

.searchResult .show-episodes:hover .icon-chevron-thin {
  color: #db202c;
}

.searchResult .show-episodes:hover p {
  color: #db202c;
}

.searchResult .show-episodes p {
  margin-bottom: -18px;
  font-size: 15px;
  font-weight: 200;
}

.all-title-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: horizontal;
          flex-direction: horizontal;
  position: relative;
}

.image-search {
  width: 140px;
}

.clicked {
  opacity: 0.3;
}

.image:hover {
  opacity: 0.4;
}

.right-of-img {
  width: 60%;
  margin: 5px 10px;
  display: inline-block;
  vertical-align: top;
  height: 100%;
}

.title-info {
  height: 85%;
}

.title-info .name-el {
  font-size: 22px;
  font-weight: 700;
}

.title-info .year-el {
  font-size: 14px;
  font-weight: 200;
}

.title-info .rating-el {
  font-size: 20px;
  text-decoration: none;
}

.title-info .rating-el:hover {
  text-decoration: underline;
}

.seasons {
  margin-top: 10px;
}

.seasons select {
  background-color: #282828;
  font-size: 18px;
  outline: none;
  padding: 2px 4px;
  border-width: 2px;
}

.seasons .season {
  overflow-x: scroll;
  white-space: nowrap;
  width: 95%;
}

.seasons .hide-season {
  display: none;
}

.seasons .episode {
  vertical-align: top;
  display: inline-block;
  margin: 10px;
  margin-left: 0px;
  width: 16vw;
}

.seasons .episode img {
  width: auto;
  height: 8vw;
}

.seasons .episode .image-error {
  text-align: center;
  vertical-align: middle;
  line-height: 6vw;
  background-color: #000045;
}

.seasons .episode .image-error p {
  font-size: 20px;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
}

.seasons .episode p {
  height: 12vh;
  white-space: normal;
  font-size: 13px;
  text-overflow: ellipsis;
  overflow: hidden;
}

#edit-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #141414;
  padding-left: 10px;
  overflow-y: scroll;
  height: 100vh;
}

#edit-list #name-element {
  margin-bottom: 5px;
  margin-top: 10px;
}

#edit-list #list-name,
#edit-list #list-name-wrap {
  font-size: 28px;
  font-weight: 700;
  width: 90%;
  display: inline-block;
  padding: 2px;
}

#edit-list #list-name:focus,
#edit-list #list-name-wrap:focus {
  outline: none;
}

#edit-list .deactivated {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #141414;
}

#edit-list .deactivated:hover {
  background-color: rgba(219, 32, 44, 0.342);
}

#edit-list .activated {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #db202c;
}

#edit-list #save-name {
  display: none;
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  border: 2px solid #db202c;
  background-color: #141414;
  margin-left: 2px;
  background-color: #db202c;
  outline: none;
}

#edit-list ul {
  list-style-type: none;
}

#edit-list .placeholder-text {
  display: none;
}

#list-titles {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
}

#list-titles .show-els {
  width: 100%;
}

#list-titles .list-title {
  width: 100%;
}

#list-titles .list-title .list-el {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#list-titles .list-title .list-el:hover .delete-title-button {
  display: block;
}

#list-titles .list-title .list-el .show-episodes-btn {
  position: absolute;
  left: 50%;
  font-size: 36px;
  bottom: 31px;
  text-align: center;
  height: 0;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

#list-titles .list-title .list-el .show-episodes-btn .icon-chevron {
  display: block;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#list-titles .list-title .list-el .show-episodes-btn:hover .icon-chevron {
  color: #db202c;
}

#list-titles .list-title .delete-title-flex {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#list-titles .list-title .delete-title-button {
  background-color: transparent;
  font-size: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 2px;
  top: -10px;
  display: block;
}

#list-titles .list-title .nums {
  font-size: 12px;
}

#list-titles .list-title .image {
  max-height: 100px;
  max-width: 100px;
}

#list-titles .list-title .title-info {
  display: inline-block;
  vertical-align: top;
  margin-left: 4px;
  font-size: 13px;
}

#list-titles .list-title .list-episode {
  background-color: #3c3c3c;
  position: relative;
}

#left {
  width: calc(100% - 400px);
  height: calc(100vh - 80px);
  overflow-y: auto;
}

#left h1 {
  padding-top: 20px;
}

#lists-element {
  padding-left: 4%;
}

#lists {
  margin-top: 10px;
  display: -ms-grid;
  display: grid;
  grid-gap: 4%;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  padding-right: 6%;
}

.list {
  width: 220px;
  position: relative;
  text-align: left;
  padding: 10px;
  background-color: #3c3c3c;
  margin-top: 4px;
}

.list .delete-btn {
  position: absolute;
  top: -15px;
  left: -10px;
  z-index: 5;
  font-size: 25px;
  display: none;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.list .delete-btn .fa-times-circle {
  color: #db202c;
}

.list a {
  text-decoration: none;
}

.list div.p {
  padding-top: 5px;
  font-size: 16px;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 13vw;
}

.list .image-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: row;
}

.list .image-preview .wrapper {
  background-color: gray;
  z-index: 2;
  height: 130px;
  border-radius: 0 5px 5px 0;
}

.list .image-preview .first {
  z-index: 3;
}

.list .image-preview .second {
  z-index: 2;
  opacity: 0.7;
  background: black;
}

.list .image-preview .third {
  z-index: 1;
  opacity: 0.4;
}

.list .image-preview .overlap {
  margin-left: -40px;
}

.list .image-preview img {
  border-radius: 5px;
  height: 130px;
  border-right: 2px solid #3c3c3c;
}

.list:hover {
  background-color: #141414;
}

.list:hover .delete-btn {
  display: inline;
}

.list .hidden {
  display: none;
}

#btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#btn-wrap .create-list-btn {
  font-size: 6vw;
  background-color: transparent;
  border: none;
  text-align: center;
  cursor: pointer;
  outline: none;
}

#btn-wrap .create-list-btn:hover {
  opacity: 0.7;
}

#buttons-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.list-button {
  font-size: 14px;
  border: 1px solid white;
  background-color: #141414;
  padding: 3px 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
  border-radius: 4px;
}

.list-button:hover {
  background-color: gray;
}

#list-name-wrap {
  padding-top: 10px;
  margin-top: 5px;
  font-size: 28px;
  font-weight: 700;
}

#list-wide {
  padding-left: 4%;
}

h1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-wide-episode {
  background-color: #3c3c3c;
}

.season-ep-el {
  font-weight: 200;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Muli", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #282828;
}

#content {
  height: calc(100% - 80px);
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

input[type="button"],
input[type="submit"] {
  cursor: pointer;
}

#split-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

.error {
  font-size: 20px;
}
