<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset=" UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" type="text/css" rel="stylesheet" />

</head>

<body>
    <header class="navbar">
        <a href="/"><img src="/netflist-logo.png" alt="netflist-logo" id="logo"></a>
        <nav>
            <ul class="nav-links">
                <li><a href="/login">login</a></li>
                <li><a href="/register">register</a></li>
            </ul>
        </nav>
    </header>
    <div class="content">
        {{{body}}}

    </div>

</body>


</html>