<script src="../../search.js"></script>

<h2>Search for a movie or a show:</h2>
<form>
    <input type="text" id="search" name="search" value="" />
    <input id="searchBtn" type="submit" value="search" />
</form>