<script src="/scripts/search.js"></script>
<h1>Create a list</h1>
<h2>Search for a movie or a show:</h2>
<form>
    <input type="text" id="search" name="search" value="" />
    <input id="searchBtn" type="submit" value="search" />
</form>
<div id="list">
    <h2>ListName</h2>
    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
    </ul>
</div>