<script src="/scripts/search.js"></script>
<h1>Create a list</h1>
<h2>Search for a movie or a show:</h2>
<form>
    <input type="text" id="search" name="search" value="" />
    <input id="searchBtn" type="submit" value="search" />
</form>