<script src="/scripts/search.js"></script>
<div id="search-cart-lists">
    <div id="search-list">
        <div class="search">
            <input type="text" id="search" name="search" placeholder="Search for movie or show">
            <button type="submit" id="searchBtn" class="searchButton">
                <i class="fas fa-search"></i> </button>
        </div>
    </div>
    <div id="list-element">

    </div>
</div>
</div>
