<script src="/scripts/search.js"></script>
<div id="split-page">
    <div id="left-search">
        <div id="search-element">
            <h2>Search for titles add to your list</h2>
            <div class="search">
                <input type="text" id="search" name="search" placeholder="Search...">
                <button type="submit" id="searchBtn" class="searchButton">
                    <i class="fas fa-search"></i> </button>
            </div>
        </div>
    </div>
    <div id="edit-list">
        <div id="name-element">
            <div id="list-name" class="deactivated"></div><button type="submit" id="save-name" class="hide-button"><i
                    class="fas fa-check"></i></button>
        </div>
        <p id="placeholder-text">Titles you add will appear here</p>
    </div>
</div>
