<script src="../../search.js"></script>
<h1>Create a list</h1>
{{!-- <form>
    Enter name of list:<input type="text" id="listName" name="listName" value="" placeholder="Enter name" />
    <input id="nameSave" type="submit" value="save" />
</form> --}}
<h2>Search for a movie or a show:</h2>
<form>
    <input type="text" id="search" name="search" value="" />
    <input id="searchBtn" type="submit" value="search" />
</form>