<div id="intro">
    <img src="https://fontmeme.com/permalink/200604/4b9d3388289ed7a8cb934ba49ff2299a.png" alt="netflist-logo" border="0"
        id="netflist">
    <p id="intro-text">Browse and create lists with Netflix movies, shows and episodes.</p>
    <div id="buttons">

        <a href=""><input type="button" class="browse-btn button" value="Browse Lists"></a><a href="/login"><input
                type="button" class="create-btn button" value="Create List"></a>
    </div>


</div>
