{{> header}}
<div id="intro">
    <p>Netflist allows you to view and create lists with Netflix movies, shows and episodes.</p>
    <a href=""><input type="button" class="left btn " value="Browse Lists"></a><a href="/login"><input type="button"
            class="right btn " value="Create List"></a>

</div>
