<script src="/scripts/list.js"></script>
<div id="split-page">
    <div id="left">
        <form action="/create" method="post">
            <button type="submit" name="newList" value="">Create new list</button>
        </form>

        <div id="lists">
            <h2>Playlists created by {{user.name}}</h2>
            {{#each lists}}
                <a href="javascript:generateList('{{this._id}}')">
                    <div class="list">
                        <p>{{this.name}}</p>
                    </div>
                </a>
            {{/each}}
        </div>
    </div>

    <div id="right">


    </div>


</div>
