<script src="../../add.js"></script>
<p>{{results}}</p>
{{#each results}}
<div>
    <h2>Season {{season}}</h2>
    {{#each episodes}}
    <h3>{{title}}</h3>
    <img src={{img}}>
    <input type="button" value="add" id="addBtn">
    <div id="info">


    </div>

    <hr>

    {{/each}}
    <hr>

</div>
{{/each}}