$title-img-height: 233px;
$list-background-color: rgb(20, 20, 20);

@font-face {
    font-family: "icomoon";
    src: url("/fonts/icomoon.eot?91cz27");
    src: url("/fonts/icomoon.eot?91cz27#iefix") format("embedded-opentype"),
        url("/fonts/icomoon.ttf?91cz27") format("truetype"),
        url("/fonts/icomoon.woff?91cz27") format("woff"),
        url("/fonts/icomoon.svg?91cz27#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chevron:before {
    content: "\e902";
}
.icon-chevron-thin:before {
    content: "\e901";
}

#left-search {
    width: calc(100% - #{$titles-width});
    // height: 73vh;
    // height: calc(100vh - 180px);

    // min-width: 300px;
}

#search-element {
    padding-left: 4%;
    padding-top: 10px;
}

.search {
    padding-top: 10px;

    width: 50%;
    min-width: 250px;
    position: relative;
    display: flex;

    input {
        width: 100%;
        // border: 1px solid white;
        border: 0px;
        border-right: none;
        padding: 5px;
        height: 40px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: black;
        font-size: 17px;
    }

    input:focus {
        color: black;
    }

    button {
        width: 40px;
        height: 40px;
        // border: 1px solid white;
        border: 0px;
        background: black;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
        outline: none;
    }

    button:hover {
        i {
            color: rgb(200, 200, 200);
        }
    }
}

#search-load {
    width: 6vw;
    height: 6vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 5px;
    border: 4px solid transparent;
    border-top-color: $primary-color;
    border-bottom-color: $primary-color;
    border-radius: 50%;
    animation: rotation 0.8s ease infinite;
    display: none;
}

#episode-load {
    width: 2vw;
    height: 2vw;
    position: absolute;
    left: 53.5%;
    bottom: 0.5vw;

    border: 2px solid transparent;
    border-top-color: $primary-color;
    border-bottom-color: $primary-color;
    border-radius: 50%;
    animation: rotation 0.8s ease infinite;
    // display: none;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#searchResults {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: calc(100vh - 200px);
    padding-left: $horizontal-padding;
}

.searchResult {
    width: 100%;

    .add-button-flex {
        flex: 1;
        position: relative;
    }

    .buttons {
        display: inline-block;
    }
    .btn {
        // font-size: 18px;
        border: 1px solid white;
        // margin-right: 7px;
        background-color: $background-color;
    }
    .add-movie-btn {
        position: absolute;
        right: 30%;
        top: 40%;
        padding: 8px 14px;
    }

    .show-episodes {
        position: absolute;
        left: 50%;
        bottom: 44px;
        // bottom: 2.8vw;
        text-align: center;
        height: 0;
        border: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;

        .icon-chevron-thin {
            display: block;
            font-size: 60px;
        }
        &:hover {
            .icon-chevron-thin {
                color: $primary-color;
            }
            p {
                color: $primary-color;
            }
        }

        p {
            margin-bottom: -18px;
            font-size: 15px;
            font-weight: 200;
        }
    }
}

.all-title-info {
    display: flex;
    flex-direction: horizontal;
    position: relative;
}

.image-search {
    width: 140px;
}

.clicked {
    opacity: 0.3;
}

.image:hover {
    opacity: 0.4;
}

.right-of-img {
    width: 60%;
    margin: 5px 10px;
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

.title-info {
    height: 85%;
    .name-el {
        font-size: 22px;
        font-weight: 700;
    }
    .year-el {
        font-size: 14px;
        font-weight: 200;
    }
    .rating-el {
        font-size: 20px;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
    .synopsis {
    }
}

.seasons {
    margin-top: 10px;
    select {
        background-color: $background-color;
        font-size: 18px;
        outline: none;
        padding: 2px 4px;
        border-width: 2px;
    }

    .season {
        overflow-x: scroll;
        white-space: nowrap;
        width: 95%;
    }

    .hide-season {
        display: none;
    }

    .episode {
        vertical-align: top;
        display: inline-block;
        margin: 10px;
        margin-left: 0px;
        width: 16vw;
        img {
            width: auto;
            height: 8vw;
        }

        .image-error {
            text-align: center;
            vertical-align: middle;
            line-height: 6vw;
            background-color: rgb(0, 0, 69);

            p {
                font-size: 20px;
                font-weight: 700;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        p {
            height: 12vh;
            white-space: normal;
            font-size: 13px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

#edit-list {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    background-color: $list-background-color;
    padding-left: 10px;
    overflow-y: scroll;
    // height: calc(100vh - 80px);
    height: 100vh;

    #name-element {
        margin-bottom: 5px;
        margin-top: 10px;
    }

    #list-name,
    #list-name-wrap {
        font-size: 28px;
        font-weight: 700;
        width: 90%;
        display: inline-block;
        padding: 2px;

        &:focus {
            outline: none;
        }
    }

    .deactivated {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 3px solid $list-background-color;
        &:hover {
            background-color: $secondary-color;
        }
    }

    .activated {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 3px solid $primary-color;
    }

    #save-name {
        display: none;
        padding: 2px 5px;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        border: 2px solid $primary-color;
        background-color: $list-background-color;
        margin-left: 2px;
        background-color: $primary-color;
        outline: none;
    }

    ul {
        list-style-type: none;
    }

    .placeholder-text {
        display: none;
    }
}

#list-titles {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 95%;

    .show-els {
        width: 100%;
    }

    .list-title {
        width: 100%;
        .list-el {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: row;
            &:hover {
                .delete-title-button {
                    display: block;
                }
            }
            .show-episodes-btn {
                position: absolute;
                left: 50%;
                font-size: 36px;
                bottom: 31px;
                text-align: center;
                height: 0;
                border: none;
                background-color: transparent;
                outline: none;
                cursor: pointer;

                .icon-chevron {
                    display: block;
                    transform: rotate(180deg);
                }

                &:hover {
                    .icon-chevron {
                        color: $primary-color;
                    }
                }
            }
        }

        .delete-title-flex {
            position: relative;
            flex: 1;
        }

        .delete-title-button {
            background-color: transparent;
            font-size: 30px;
            border: none;
            outline: none;
            cursor: pointer;
            position: absolute;
            right: 2px;
            top: -10px;
            display: block;
        }

        .nums {
            font-size: 12px;
        }

        .image {
            max-height: 100px;
            max-width: 100px;
        }

        .title-info {
            display: inline-block;
            vertical-align: top;
            margin-left: 4px;
            font-size: 13px;
        }
        .list-episode {
            background-color: rgb(60, 60, 60);
            position: relative;
        }
    }
}

#placeholder-text {
    font-size: 20px;
    margin-top: 200px;
    margin-left: 90px;
    opacity: 0.5;
}

.icon {
    font-size: 200px;
}
