$title-img-height: 233px;
$list-background-color: rgb(20, 20, 20);

// #search-list,
// #list-element {
//     padding-top: 20px;
// }

#left {
    width: calc(100% - #{$titles-width});
    // min-width: 300px;
}

#search-element {
    padding-left: 4%;
    padding-top: 10px;
}

.search {
    padding-top: 10px;

    width: 50%;
    min-width: 250px;
    position: relative;
    display: flex;

    input {
        width: 100%;
        // border: 1px solid white;
        border: 0px;
        border-right: none;
        padding: 5px;
        height: 40px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: black;
        font-size: 17px;
    }

    input:focus {
        color: black;
    }

    button {
        width: 40px;
        height: 40px;
        // border: 1px solid white;
        border: 0px;
        background: black;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
        outline: none;
    }

    button:hover {
        i {
            color: rgb(200, 200, 200);
        }
    }
}

#searchResults {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 75vh;
    // height: calc(100% - 200px);
    // height: 500px;
    // min-height: 0px;
}

.searchResult {
    margin-top: 10px;
    width: 100%;

    .all-title-info {
        display: block;
        // height: $title-img-height;
        // height: 100%;
    }

    .image {
        width: 10vw;
    }

    .clicked {
        opacity: 0.3;
    }

    .image:hover {
        opacity: 0.4;
    }

    .right-of-img {
        width: 60%;
        margin: 5px 10px;
        display: inline-block;
        vertical-align: top;
        height: 100%;
    }

    .title-info {
        height: 85%;
    }
    .buttons {
        display: inline-block;
    }
    .btn {
        font-size: 14px;
        border: 1px solid white;
        margin-right: 7px;
    }
    .addBtn {
        background-color: black;
    }

    .showBtn {
        background-color: $background-color;
    }
}

.seasons {
    margin-top: 10px;
    select {
        background-color: $background-color;
        font-size: 18px;
        outline: none;
        padding: 2px 4px;
        border-width: 2px;
    }

    .season {
        overflow-x: scroll;
        white-space: nowrap;
        width: 95%;
    }

    .hide-season {
        display: none;
    }

    .episode {
        vertical-align: top;
        display: inline-block;
        margin: 10px;
        margin-left: 0px;
        width: 16vw;
        .image {
            width: auto;
            height: 8vw;
        }

        .image-error {
            text-align: center;
            vertical-align: middle;
            line-height: 6vw;
            background-color: rgb(0, 0, 69);

            p {
                font-size: 20px;
                font-weight: 700;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        p {
            height: 12vh;
            white-space: normal;
            font-size: 13px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

#right {
    // flex: 28%;
    width: $titles-width;
    background-color: $list-background-color;
    // box-shadow: -5px 0px 10px -5px rgb(58, 58, 58);
    padding-left: 20px;

    #name-element {
        width: 95%;
        margin-bottom: 5px;
        margin-top: 10px;
    }

    #list-name {
        font-size: 28px;
        font-weight: 700;
        width: 88%;
        display: inline-block;
        padding: 2px;

        &:focus {
            outline: none;
        }
    }

    .deactivated {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 3px solid $list-background-color;

        &:hover {
            background-color: $secondary-color;
        }
    }

    .activated {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 3px solid $primary-color;
    }

    #save-name {
        display: none;
        padding: 2px 5px;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        border: 2px solid $primary-color;
        background-color: $list-background-color;
        margin-left: 2px;
        background-color: $primary-color;
        outline: none;
    }

    ul {
        list-style-type: none;
    }
}

#list-titles {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 80vh;
    width: 95%;

    .show-els {
        width: 100%;
    }

    .list-title {
        margin-bottom: 10px;

        .nums {
            font-size: 12px;
        }

        .image {
            max-height: 100px;
            max-width: 100px;
        }

        .title-info {
            display: inline-block;
            vertical-align: top;
            margin-left: 4px;
            width: 70%;
            font-size: 13px;
        }
        .list-episode {
            background-color: rgb(60, 60, 60);
        }
    }
}
