#intro {
    text-align: center;
    max-width: 40rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;

    // background-color: rgb(21, 21, 21);

    #netflist {
        width: 300px;
        margin-right: auto;
        margin-left: auto;
    }

    #intro-text {
        font-size: 36px;
        text-align: center;
        font-weight: 400;
    }

    #buttons {
        margin-right: auto;
        margin-left: auto;
        margin-top: 40px;
        display: flex;
        justify-content: space-around;

        .button {
            margin: 0;
            padding: 26px 46px;
            border-radius: 4px;
            font-size: 32px;
            font-weight: 700;
            text-decoration: none;
            border: none;
        }
        .browse-btn {
            background-color: rgb(255, 255, 255);
            color: black;
        }

        .create-btn {
            background-color: rgb(100, 100, 100);
        }
    }
}

#lists-wrap {
    margin-top: 120px;
    padding-left: 4%;
    padding-bottom: 60px;
    width: 100%;
    background-color: rgb(60, 60, 60);

    .title {
        padding-top: 20px;
        font-size: 30px;
        font-weight: 700;
    }
    // #all-lists {
    //     display: flex;
    //     flex-direction: column;
    //     .list-row {
    //         padding-top: 10px;
    //         padding-bottom: 10px;
    //     }
    // }
}
