#list-wide {
    padding-left: 4%;
    // width: 70%;
}

h1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.list-wide-episode {
    background-color: rgb(60, 60, 60);
}

.season-ep-el {
    font-weight: 200;
}
