$titles-width: 450px;

#left {
    width: calc(100% - #{$titles-width});
}

#lists {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 83vh;
    width: 100%;
    padding-right: 6%;
}

.list {
    text-align: left;
    padding: 20px;
    background-color: rgb(0, 0, 69);
    margin-top: 4px;

    p {
        font-size: 20px;
        font-weight: 700;
        // text-overflow: ellipsis;
        // overflow: hidden;
    }
}

#right {
    width: $titles-width;
    background-color: rgb(20, 20, 20);
}
