#left {
    width: calc(100% - #{$titles-width});
    height: 83vh;
    overflow-y: auto;
}

#lists {
    margin-top: 20px;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    padding-right: 6%;
    padding-left: 1.5%;

    // grid-auto-rows: 1fr;
    // align-items: flex-start;
}

.list {
    position: relative;
    text-align: left;
    padding: 10px;
    background-color: rgb(60, 60, 60);
    margin-top: 4px;
    // height: 14vw;

    .delete-btn {
        position: absolute;
        top: -15px;
        left: -10px;
        z-index: 5;
        font-size: 25px;
        display: none;
        border: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        .fa-times-circle {
            color: $primary-color;
        }
    }

    a {
        text-decoration: none;
    }

    div.p {
        padding-top: 5px;
        font-size: 1.2vw;
        font-weight: 700;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        width: 13vw;
    }

    .image-preview {
        display: flex;
        direction: row;

        .wrapper {
            background-color: gray;
            z-index: 2;
            height: 9vw;
            border-radius: 0 5px 5px 0;
        }

        .first {
            z-index: 3;
        }

        .second {
            z-index: 2;
            opacity: 0.7;
            background: black;
        }
        .third {
            z-index: 1;
            opacity: 0.4;
        }

        .overlap {
            margin-left: -40px;
        }
        img {
            border-radius: 5px;
            height: 9vw;
            border-right: 2px solid rgb(60, 60, 60);

            // box-shadow: 0px 0px 0px 2px rgb(60, 60, 60);
        }
    }

    .hidden {
        display: none;
    }
}

.list:hover {
    background-color: rgb(20, 20, 20);
    .delete-btn {
        display: inline;
    }
}

#right {
    width: $titles-width;
    background-color: rgb(20, 20, 20);
}
