@import url("https://fonts.googleapis.com/css2?family=Muli:wght@200;400;700&display=swap");

$horizontal-padding: 4%;
$primary-color: rgb(219, 32, 44);
$background-color: rgb(40, 40, 40);
$navbar-color: rgb(0, 0, 0);

@import "navbar";
@import "register";
@import "edit-list";
@import "profile";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Muli", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
    // overflow: hidden;
    background-color: $background-color;
}

#content {
    padding-left: $horizontal-padding;
    height: calc(100% - 80px);
}

input[type="button"],
input[type="submit"] {
    cursor: pointer;
}

#split-page {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    height: 100%;
}
