@import url("https://fonts.googleapis.com/css2?family=Muli:wght@200;300;400&display=swap");

$horizontal-padding: 7%;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Muli", sans-serif;
}

body {
    background-color: rgb(40, 40, 40);
}

.navbar {
    background: rgb(20, 20, 20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px $horizontal-padding;
}

#logo {
    width: 130px;
    padding-top: 7px;
}

.nav-links {
    list-style: none;
    li {
        display: inline-block;
        padding: 0px 15px;
        font-size: 20px;
        font-weight: 200;
    }
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

#content {
    padding: 20px $horizontal-padding;
}

input {
    display: block;
    margin: 10px;
}

.season {
    display: flex;
    overflow: scroll;
}

.episode {
    margin: 10px;
}

.searchResult {
    margin: 10px;
}
