@import url("https://fonts.googleapis.com/css2?family=Muli:wght@200;400;700&display=swap");

$horizontal-padding: 4%;
$primary-color: rgb(219, 32, 44);
$background-color: rgb(40, 40, 40);
$navbar-color: rgb(0, 0, 0);

@import "navbar";
@import "register";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Muli", sans-serif;
}

body {
    background-color: $background-color;
}

input[type="button"],
input[type="submit"] {
    cursor: pointer;
}

#content {
    padding: 20px $horizontal-padding;
}

.season {
    display: flex;
    overflow: scroll;
}

.episode {
    margin: 10px;
}

.searchResult {
    margin: 10px;
}
